semantic-cache
.idea
dist
.env
config.yaml
bin
glide
tmp
coverage.txt
precommit.txt
.vscode/settings.json
ko.yaml
qdrant_data/raft_state.json
qdrant_data/aliases/data.json
qdrant_data/collections/test_collection/config.json
qdrant_data/collections/test_collection/version.info
qdrant_data/collections/test_collection/0/replica_state.json
qdrant_data/collections/test_collection/0/shard_config.json
qdrant_data/collections/test_collection/0/segments/1b700449-6f3b-4edf-81a1-141554af5072/000004.log
qdrant_data/collections/test_collection/0/segments/1b700449-6f3b-4edf-81a1-141554af5072/CURRENT
qdrant_data/collections/test_collection/0/segments/1b700449-6f3b-4edf-81a1-141554af5072/IDENTITY
qdrant_data/collections/test_collection/0/segments/1b700449-6f3b-4edf-81a1-141554af5072/LOCK
qdrant_data/collections/test_collection/0/segments/1b700449-6f3b-4edf-81a1-141554af5072/LOG
qdrant_data/collections/test_collection/0/segments/1b700449-6f3b-4edf-81a1-141554af5072/MANIFEST-000005
qdrant_data/collections/test_collection/0/segments/1b700449-6f3b-4edf-81a1-141554af5072/OPTIONS-000007
qdrant_data/collections/test_collection/0/segments/1b700449-6f3b-4edf-81a1-141554af5072/segment.json
qdrant_data/collections/test_collection/0/segments/1b700449-6f3b-4edf-81a1-141554af5072/version.info
qdrant_data/collections/test_collection/0/segments/1b700449-6f3b-4edf-81a1-141554af5072/payload_index/000004.log
qdrant_data/collections/test_collection/0/segments/1b700449-6f3b-4edf-81a1-141554af5072/payload_index/config.json
qdrant_data/collections/test_collection/0/segments/1b700449-6f3b-4edf-81a1-141554af5072/payload_index/CURRENT
qdrant_data/collections/test_collection/0/segments/1b700449-6f3b-4edf-81a1-141554af5072/payload_index/IDENTITY
qdrant_data/collections/test_collection/0/segments/1b700449-6f3b-4edf-81a1-141554af5072/payload_index/LOCK
qdrant_data/collections/test_collection/0/segments/1b700449-6f3b-4edf-81a1-141554af5072/payload_index/LOG
qdrant_data/collections/test_collection/0/segments/1b700449-6f3b-4edf-81a1-141554af5072/payload_index/MANIFEST-000005
qdrant_data/collections/test_collection/0/segments/1b700449-6f3b-4edf-81a1-141554af5072/payload_index/OPTIONS-000007
qdrant_data/collections/test_collection/0/segments/1b700449-6f3b-4edf-81a1-141554af5072/vector_storage/deleted/flags_a.dat
qdrant_data/collections/test_collection/0/segments/1b700449-6f3b-4edf-81a1-141554af5072/vector_storage/deleted/status.dat
qdrant_data/collections/test_collection/0/segments/1b700449-6f3b-4edf-81a1-141554af5072/vector_storage/vectors/config.json
qdrant_data/collections/test_collection/0/segments/1b700449-6f3b-4edf-81a1-141554af5072/vector_storage/vectors/status.dat
qdrant_data/collections/test_collection/0/segments/2d5e2c32-235a-4ff9-aebb-f0e69dbed20d/000004.log
qdrant_data/collections/test_collection/0/segments/2d5e2c32-235a-4ff9-aebb-f0e69dbed20d/CURRENT
qdrant_data/collections/test_collection/0/segments/2d5e2c32-235a-4ff9-aebb-f0e69dbed20d/IDENTITY
qdrant_data/collections/test_collection/0/segments/2d5e2c32-235a-4ff9-aebb-f0e69dbed20d/LOCK
qdrant_data/collections/test_collection/0/segments/2d5e2c32-235a-4ff9-aebb-f0e69dbed20d/LOG
qdrant_data/collections/test_collection/0/segments/2d5e2c32-235a-4ff9-aebb-f0e69dbed20d/MANIFEST-000005
qdrant_data/collections/test_collection/0/segments/2d5e2c32-235a-4ff9-aebb-f0e69dbed20d/OPTIONS-000007
qdrant_data/collections/test_collection/0/segments/2d5e2c32-235a-4ff9-aebb-f0e69dbed20d/segment.json
qdrant_data/collections/test_collection/0/segments/2d5e2c32-235a-4ff9-aebb-f0e69dbed20d/version.info
qdrant_data/collections/test_collection/0/segments/2d5e2c32-235a-4ff9-aebb-f0e69dbed20d/payload_index/000004.log
qdrant_data/collections/test_collection/0/segments/2d5e2c32-235a-4ff9-aebb-f0e69dbed20d/payload_index/config.json
qdrant_data/collections/test_collection/0/segments/2d5e2c32-235a-4ff9-aebb-f0e69dbed20d/payload_index/CURRENT
qdrant_data/collections/test_collection/0/segments/2d5e2c32-235a-4ff9-aebb-f0e69dbed20d/payload_index/IDENTITY
qdrant_data/collections/test_collection/0/segments/2d5e2c32-235a-4ff9-aebb-f0e69dbed20d/payload_index/LOCK
qdrant_data/collections/test_collection/0/segments/2d5e2c32-235a-4ff9-aebb-f0e69dbed20d/payload_index/LOG
qdrant_data/collections/test_collection/0/segments/2d5e2c32-235a-4ff9-aebb-f0e69dbed20d/payload_index/MANIFEST-000005
qdrant_data/collections/test_collection/0/segments/2d5e2c32-235a-4ff9-aebb-f0e69dbed20d/payload_index/OPTIONS-000007
qdrant_data/collections/test_collection/0/segments/2d5e2c32-235a-4ff9-aebb-f0e69dbed20d/vector_storage/deleted/flags_a.dat
qdrant_data/collections/test_collection/0/segments/2d5e2c32-235a-4ff9-aebb-f0e69dbed20d/vector_storage/deleted/status.dat
qdrant_data/collections/test_collection/0/segments/2d5e2c32-235a-4ff9-aebb-f0e69dbed20d/vector_storage/vectors/config.json
qdrant_data/collections/test_collection/0/segments/2d5e2c32-235a-4ff9-aebb-f0e69dbed20d/vector_storage/vectors/status.dat
qdrant_data/collections/test_collection/0/segments/2e3eb659-2a50-44e9-9c37-2d7cf75eab69/000004.log
qdrant_data/collections/test_collection/0/segments/2e3eb659-2a50-44e9-9c37-2d7cf75eab69/CURRENT
qdrant_data/collections/test_collection/0/segments/2e3eb659-2a50-44e9-9c37-2d7cf75eab69/IDENTITY
qdrant_data/collections/test_collection/0/segments/2e3eb659-2a50-44e9-9c37-2d7cf75eab69/LOCK
qdrant_data/collections/test_collection/0/segments/2e3eb659-2a50-44e9-9c37-2d7cf75eab69/LOG
qdrant_data/collections/test_collection/0/segments/2e3eb659-2a50-44e9-9c37-2d7cf75eab69/MANIFEST-000005
qdrant_data/collections/test_collection/0/segments/2e3eb659-2a50-44e9-9c37-2d7cf75eab69/OPTIONS-000007
qdrant_data/collections/test_collection/0/segments/2e3eb659-2a50-44e9-9c37-2d7cf75eab69/segment.json
qdrant_data/collections/test_collection/0/segments/2e3eb659-2a50-44e9-9c37-2d7cf75eab69/version.info
qdrant_data/collections/test_collection/0/segments/2e3eb659-2a50-44e9-9c37-2d7cf75eab69/payload_index/000004.log
qdrant_data/collections/test_collection/0/segments/2e3eb659-2a50-44e9-9c37-2d7cf75eab69/payload_index/config.json
qdrant_data/collections/test_collection/0/segments/2e3eb659-2a50-44e9-9c37-2d7cf75eab69/payload_index/CURRENT
qdrant_data/collections/test_collection/0/segments/2e3eb659-2a50-44e9-9c37-2d7cf75eab69/payload_index/IDENTITY
qdrant_data/collections/test_collection/0/segments/2e3eb659-2a50-44e9-9c37-2d7cf75eab69/payload_index/LOCK
qdrant_data/collections/test_collection/0/segments/2e3eb659-2a50-44e9-9c37-2d7cf75eab69/payload_index/LOG
qdrant_data/collections/test_collection/0/segments/2e3eb659-2a50-44e9-9c37-2d7cf75eab69/payload_index/MANIFEST-000005
qdrant_data/collections/test_collection/0/segments/2e3eb659-2a50-44e9-9c37-2d7cf75eab69/payload_index/OPTIONS-000007
qdrant_data/collections/test_collection/0/segments/2e3eb659-2a50-44e9-9c37-2d7cf75eab69/vector_storage/deleted/flags_a.dat
qdrant_data/collections/test_collection/0/segments/2e3eb659-2a50-44e9-9c37-2d7cf75eab69/vector_storage/deleted/status.dat
qdrant_data/collections/test_collection/0/segments/2e3eb659-2a50-44e9-9c37-2d7cf75eab69/vector_storage/vectors/config.json
qdrant_data/collections/test_collection/0/segments/2e3eb659-2a50-44e9-9c37-2d7cf75eab69/vector_storage/vectors/status.dat
qdrant_data/collections/test_collection/0/segments/4bdbeb64-45a3-43d4-b4eb-8327b4b78fa4/000004.log
qdrant_data/collections/test_collection/0/segments/4bdbeb64-45a3-43d4-b4eb-8327b4b78fa4/CURRENT
qdrant_data/collections/test_collection/0/segments/4bdbeb64-45a3-43d4-b4eb-8327b4b78fa4/IDENTITY
qdrant_data/collections/test_collection/0/segments/4bdbeb64-45a3-43d4-b4eb-8327b4b78fa4/LOCK
qdrant_data/collections/test_collection/0/segments/4bdbeb64-45a3-43d4-b4eb-8327b4b78fa4/LOG
qdrant_data/collections/test_collection/0/segments/4bdbeb64-45a3-43d4-b4eb-8327b4b78fa4/MANIFEST-000005
qdrant_data/collections/test_collection/0/segments/4bdbeb64-45a3-43d4-b4eb-8327b4b78fa4/OPTIONS-000007
qdrant_data/collections/test_collection/0/segments/4bdbeb64-45a3-43d4-b4eb-8327b4b78fa4/segment.json
qdrant_data/collections/test_collection/0/segments/4bdbeb64-45a3-43d4-b4eb-8327b4b78fa4/version.info
qdrant_data/collections/test_collection/0/segments/4bdbeb64-45a3-43d4-b4eb-8327b4b78fa4/payload_index/000004.log
qdrant_data/collections/test_collection/0/segments/4bdbeb64-45a3-43d4-b4eb-8327b4b78fa4/payload_index/config.json
qdrant_data/collections/test_collection/0/segments/4bdbeb64-45a3-43d4-b4eb-8327b4b78fa4/payload_index/CURRENT
qdrant_data/collections/test_collection/0/segments/4bdbeb64-45a3-43d4-b4eb-8327b4b78fa4/payload_index/IDENTITY
qdrant_data/collections/test_collection/0/segments/4bdbeb64-45a3-43d4-b4eb-8327b4b78fa4/payload_index/LOCK
qdrant_data/collections/test_collection/0/segments/4bdbeb64-45a3-43d4-b4eb-8327b4b78fa4/payload_index/LOG
qdrant_data/collections/test_collection/0/segments/4bdbeb64-45a3-43d4-b4eb-8327b4b78fa4/payload_index/MANIFEST-000005
qdrant_data/collections/test_collection/0/segments/4bdbeb64-45a3-43d4-b4eb-8327b4b78fa4/payload_index/OPTIONS-000007
qdrant_data/collections/test_collection/0/segments/4bdbeb64-45a3-43d4-b4eb-8327b4b78fa4/vector_storage/deleted/flags_a.dat
qdrant_data/collections/test_collection/0/segments/4bdbeb64-45a3-43d4-b4eb-8327b4b78fa4/vector_storage/deleted/status.dat
qdrant_data/collections/test_collection/0/segments/4bdbeb64-45a3-43d4-b4eb-8327b4b78fa4/vector_storage/vectors/config.json
qdrant_data/collections/test_collection/0/segments/4bdbeb64-45a3-43d4-b4eb-8327b4b78fa4/vector_storage/vectors/status.dat
qdrant_data/collections/test_collection/0/segments/693f6802-a479-4ee5-84b8-af2de41c6a31/000004.log
qdrant_data/collections/test_collection/0/segments/693f6802-a479-4ee5-84b8-af2de41c6a31/CURRENT
qdrant_data/collections/test_collection/0/segments/693f6802-a479-4ee5-84b8-af2de41c6a31/IDENTITY
qdrant_data/collections/test_collection/0/segments/693f6802-a479-4ee5-84b8-af2de41c6a31/LOCK
qdrant_data/collections/test_collection/0/segments/693f6802-a479-4ee5-84b8-af2de41c6a31/LOG
qdrant_data/collections/test_collection/0/segments/693f6802-a479-4ee5-84b8-af2de41c6a31/MANIFEST-000005
qdrant_data/collections/test_collection/0/segments/693f6802-a479-4ee5-84b8-af2de41c6a31/OPTIONS-000007
qdrant_data/collections/test_collection/0/segments/693f6802-a479-4ee5-84b8-af2de41c6a31/segment.json
qdrant_data/collections/test_collection/0/segments/693f6802-a479-4ee5-84b8-af2de41c6a31/version.info
qdrant_data/collections/test_collection/0/segments/693f6802-a479-4ee5-84b8-af2de41c6a31/payload_index/000004.log
qdrant_data/collections/test_collection/0/segments/693f6802-a479-4ee5-84b8-af2de41c6a31/payload_index/config.json
qdrant_data/collections/test_collection/0/segments/693f6802-a479-4ee5-84b8-af2de41c6a31/payload_index/CURRENT
qdrant_data/collections/test_collection/0/segments/693f6802-a479-4ee5-84b8-af2de41c6a31/payload_index/IDENTITY
qdrant_data/collections/test_collection/0/segments/693f6802-a479-4ee5-84b8-af2de41c6a31/payload_index/LOCK
qdrant_data/collections/test_collection/0/segments/693f6802-a479-4ee5-84b8-af2de41c6a31/payload_index/LOG
qdrant_data/collections/test_collection/0/segments/693f6802-a479-4ee5-84b8-af2de41c6a31/payload_index/MANIFEST-000005
qdrant_data/collections/test_collection/0/segments/693f6802-a479-4ee5-84b8-af2de41c6a31/payload_index/OPTIONS-000007
qdrant_data/collections/test_collection/0/segments/693f6802-a479-4ee5-84b8-af2de41c6a31/vector_storage/deleted/flags_a.dat
qdrant_data/collections/test_collection/0/segments/693f6802-a479-4ee5-84b8-af2de41c6a31/vector_storage/deleted/status.dat
qdrant_data/collections/test_collection/0/segments/693f6802-a479-4ee5-84b8-af2de41c6a31/vector_storage/vectors/config.json
qdrant_data/collections/test_collection/0/segments/693f6802-a479-4ee5-84b8-af2de41c6a31/vector_storage/vectors/status.dat
qdrant_data/collections/test_collection/0/segments/797d2bdc-dff9-493c-8ac3-435df301c34a/000004.log
qdrant_data/collections/test_collection/0/segments/797d2bdc-dff9-493c-8ac3-435df301c34a/CURRENT
qdrant_data/collections/test_collection/0/segments/797d2bdc-dff9-493c-8ac3-435df301c34a/IDENTITY
qdrant_data/collections/test_collection/0/segments/797d2bdc-dff9-493c-8ac3-435df301c34a/LOCK
qdrant_data/collections/test_collection/0/segments/797d2bdc-dff9-493c-8ac3-435df301c34a/LOG
qdrant_data/collections/test_collection/0/segments/797d2bdc-dff9-493c-8ac3-435df301c34a/MANIFEST-000005
qdrant_data/collections/test_collection/0/segments/797d2bdc-dff9-493c-8ac3-435df301c34a/OPTIONS-000007
qdrant_data/collections/test_collection/0/segments/797d2bdc-dff9-493c-8ac3-435df301c34a/segment.json
qdrant_data/collections/test_collection/0/segments/797d2bdc-dff9-493c-8ac3-435df301c34a/version.info
qdrant_data/collections/test_collection/0/segments/797d2bdc-dff9-493c-8ac3-435df301c34a/payload_index/000004.log
qdrant_data/collections/test_collection/0/segments/797d2bdc-dff9-493c-8ac3-435df301c34a/payload_index/config.json
qdrant_data/collections/test_collection/0/segments/797d2bdc-dff9-493c-8ac3-435df301c34a/payload_index/CURRENT
qdrant_data/collections/test_collection/0/segments/797d2bdc-dff9-493c-8ac3-435df301c34a/payload_index/IDENTITY
qdrant_data/collections/test_collection/0/segments/797d2bdc-dff9-493c-8ac3-435df301c34a/payload_index/LOCK
qdrant_data/collections/test_collection/0/segments/797d2bdc-dff9-493c-8ac3-435df301c34a/payload_index/LOG
qdrant_data/collections/test_collection/0/segments/797d2bdc-dff9-493c-8ac3-435df301c34a/payload_index/MANIFEST-000005
qdrant_data/collections/test_collection/0/segments/797d2bdc-dff9-493c-8ac3-435df301c34a/payload_index/OPTIONS-000007
qdrant_data/collections/test_collection/0/segments/797d2bdc-dff9-493c-8ac3-435df301c34a/vector_storage/deleted/flags_a.dat
qdrant_data/collections/test_collection/0/segments/797d2bdc-dff9-493c-8ac3-435df301c34a/vector_storage/deleted/status.dat
qdrant_data/collections/test_collection/0/segments/797d2bdc-dff9-493c-8ac3-435df301c34a/vector_storage/vectors/config.json
qdrant_data/collections/test_collection/0/segments/797d2bdc-dff9-493c-8ac3-435df301c34a/vector_storage/vectors/status.dat
qdrant_data/collections/test_collection/0/segments/bfb0c075-6439-4c42-bb72-ffefdb681c8d/000004.log
qdrant_data/collections/test_collection/0/segments/bfb0c075-6439-4c42-bb72-ffefdb681c8d/CURRENT
qdrant_data/collections/test_collection/0/segments/bfb0c075-6439-4c42-bb72-ffefdb681c8d/IDENTITY
qdrant_data/collections/test_collection/0/segments/bfb0c075-6439-4c42-bb72-ffefdb681c8d/LOCK
qdrant_data/collections/test_collection/0/segments/bfb0c075-6439-4c42-bb72-ffefdb681c8d/LOG
qdrant_data/collections/test_collection/0/segments/bfb0c075-6439-4c42-bb72-ffefdb681c8d/MANIFEST-000005
qdrant_data/collections/test_collection/0/segments/bfb0c075-6439-4c42-bb72-ffefdb681c8d/OPTIONS-000007
qdrant_data/collections/test_collection/0/segments/bfb0c075-6439-4c42-bb72-ffefdb681c8d/segment.json
qdrant_data/collections/test_collection/0/segments/bfb0c075-6439-4c42-bb72-ffefdb681c8d/version.info
qdrant_data/collections/test_collection/0/segments/bfb0c075-6439-4c42-bb72-ffefdb681c8d/payload_index/000004.log
qdrant_data/collections/test_collection/0/segments/bfb0c075-6439-4c42-bb72-ffefdb681c8d/payload_index/config.json
qdrant_data/collections/test_collection/0/segments/bfb0c075-6439-4c42-bb72-ffefdb681c8d/payload_index/CURRENT
qdrant_data/collections/test_collection/0/segments/bfb0c075-6439-4c42-bb72-ffefdb681c8d/payload_index/IDENTITY
qdrant_data/collections/test_collection/0/segments/bfb0c075-6439-4c42-bb72-ffefdb681c8d/payload_index/LOCK
qdrant_data/collections/test_collection/0/segments/bfb0c075-6439-4c42-bb72-ffefdb681c8d/payload_index/LOG
qdrant_data/collections/test_collection/0/segments/bfb0c075-6439-4c42-bb72-ffefdb681c8d/payload_index/MANIFEST-000005
qdrant_data/collections/test_collection/0/segments/bfb0c075-6439-4c42-bb72-ffefdb681c8d/payload_index/OPTIONS-000007
qdrant_data/collections/test_collection/0/segments/bfb0c075-6439-4c42-bb72-ffefdb681c8d/vector_storage/deleted/flags_a.dat
qdrant_data/collections/test_collection/0/segments/bfb0c075-6439-4c42-bb72-ffefdb681c8d/vector_storage/deleted/status.dat
qdrant_data/collections/test_collection/0/segments/bfb0c075-6439-4c42-bb72-ffefdb681c8d/vector_storage/vectors/config.json
qdrant_data/collections/test_collection/0/segments/bfb0c075-6439-4c42-bb72-ffefdb681c8d/vector_storage/vectors/status.dat
qdrant_data/collections/test_collection/0/segments/c20c9097-9ceb-4773-8df2-407b7c143fa8/000004.log
qdrant_data/collections/test_collection/0/segments/c20c9097-9ceb-4773-8df2-407b7c143fa8/CURRENT
qdrant_data/collections/test_collection/0/segments/c20c9097-9ceb-4773-8df2-407b7c143fa8/IDENTITY
qdrant_data/collections/test_collection/0/segments/c20c9097-9ceb-4773-8df2-407b7c143fa8/LOCK
qdrant_data/collections/test_collection/0/segments/c20c9097-9ceb-4773-8df2-407b7c143fa8/LOG
qdrant_data/collections/test_collection/0/segments/c20c9097-9ceb-4773-8df2-407b7c143fa8/MANIFEST-000005
qdrant_data/collections/test_collection/0/segments/c20c9097-9ceb-4773-8df2-407b7c143fa8/OPTIONS-000007
qdrant_data/collections/test_collection/0/segments/c20c9097-9ceb-4773-8df2-407b7c143fa8/segment.json
qdrant_data/collections/test_collection/0/segments/c20c9097-9ceb-4773-8df2-407b7c143fa8/version.info
qdrant_data/collections/test_collection/0/segments/c20c9097-9ceb-4773-8df2-407b7c143fa8/payload_index/000004.log
qdrant_data/collections/test_collection/0/segments/c20c9097-9ceb-4773-8df2-407b7c143fa8/payload_index/config.json
qdrant_data/collections/test_collection/0/segments/c20c9097-9ceb-4773-8df2-407b7c143fa8/payload_index/CURRENT
qdrant_data/collections/test_collection/0/segments/c20c9097-9ceb-4773-8df2-407b7c143fa8/payload_index/IDENTITY
qdrant_data/collections/test_collection/0/segments/c20c9097-9ceb-4773-8df2-407b7c143fa8/payload_index/LOCK
qdrant_data/collections/test_collection/0/segments/c20c9097-9ceb-4773-8df2-407b7c143fa8/payload_index/LOG
qdrant_data/collections/test_collection/0/segments/c20c9097-9ceb-4773-8df2-407b7c143fa8/payload_index/MANIFEST-000005
qdrant_data/collections/test_collection/0/segments/c20c9097-9ceb-4773-8df2-407b7c143fa8/payload_index/OPTIONS-000007
qdrant_data/collections/test_collection/0/segments/c20c9097-9ceb-4773-8df2-407b7c143fa8/vector_storage/deleted/flags_a.dat
qdrant_data/collections/test_collection/0/segments/c20c9097-9ceb-4773-8df2-407b7c143fa8/vector_storage/deleted/status.dat
qdrant_data/collections/test_collection/0/segments/c20c9097-9ceb-4773-8df2-407b7c143fa8/vector_storage/vectors/config.json
qdrant_data/collections/test_collection/0/segments/c20c9097-9ceb-4773-8df2-407b7c143fa8/vector_storage/vectors/status.dat
qdrant_data/collections/test_collection/0/wal/first-index
qdrant_data/collections/test_collection/0/wal/open-1
qdrant_data/collections/test_collection/0/wal/open-2
qdrant_data/collections/test_collection/0/segments/1b700449-6f3b-4edf-81a1-141554af5072/000008.log
qdrant_data/collections/test_collection/0/segments/1b700449-6f3b-4edf-81a1-141554af5072/MANIFEST-000009
qdrant_data/collections/test_collection/0/segments/1b700449-6f3b-4edf-81a1-141554af5072/OPTIONS-000011
qdrant_data/collections/test_collection/0/segments/1b700449-6f3b-4edf-81a1-141554af5072/payload_index/000008.log
qdrant_data/collections/test_collection/0/segments/1b700449-6f3b-4edf-81a1-141554af5072/payload_index/MANIFEST-000009
qdrant_data/collections/test_collection/0/segments/1b700449-6f3b-4edf-81a1-141554af5072/payload_index/OPTIONS-000011
qdrant_data/collections/test_collection/0/segments/2d5e2c32-235a-4ff9-aebb-f0e69dbed20d/000008.log
qdrant_data/collections/test_collection/0/segments/2d5e2c32-235a-4ff9-aebb-f0e69dbed20d/MANIFEST-000009
qdrant_data/collections/test_collection/0/segments/2d5e2c32-235a-4ff9-aebb-f0e69dbed20d/OPTIONS-000011
qdrant_data/collections/test_collection/0/segments/2d5e2c32-235a-4ff9-aebb-f0e69dbed20d/payload_index/000008.log
qdrant_data/collections/test_collection/0/segments/2d5e2c32-235a-4ff9-aebb-f0e69dbed20d/payload_index/MANIFEST-000009
qdrant_data/collections/test_collection/0/segments/2d5e2c32-235a-4ff9-aebb-f0e69dbed20d/payload_index/OPTIONS-000011
qdrant_data/collections/test_collection/0/segments/2e3eb659-2a50-44e9-9c37-2d7cf75eab69/000008.log
qdrant_data/collections/test_collection/0/segments/2e3eb659-2a50-44e9-9c37-2d7cf75eab69/MANIFEST-000009
qdrant_data/collections/test_collection/0/segments/2e3eb659-2a50-44e9-9c37-2d7cf75eab69/OPTIONS-000011
qdrant_data/collections/test_collection/0/segments/2e3eb659-2a50-44e9-9c37-2d7cf75eab69/payload_index/000008.log
qdrant_data/collections/test_collection/0/segments/2e3eb659-2a50-44e9-9c37-2d7cf75eab69/payload_index/MANIFEST-000009
qdrant_data/collections/test_collection/0/segments/2e3eb659-2a50-44e9-9c37-2d7cf75eab69/payload_index/OPTIONS-000011
qdrant_data/collections/test_collection/0/segments/4bdbeb64-45a3-43d4-b4eb-8327b4b78fa4/000008.log
qdrant_data/collections/test_collection/0/segments/4bdbeb64-45a3-43d4-b4eb-8327b4b78fa4/MANIFEST-000009
qdrant_data/collections/test_collection/0/segments/4bdbeb64-45a3-43d4-b4eb-8327b4b78fa4/OPTIONS-000011
qdrant_data/collections/test_collection/0/segments/4bdbeb64-45a3-43d4-b4eb-8327b4b78fa4/payload_index/000008.log
qdrant_data/collections/test_collection/0/segments/4bdbeb64-45a3-43d4-b4eb-8327b4b78fa4/payload_index/MANIFEST-000009
qdrant_data/collections/test_collection/0/segments/4bdbeb64-45a3-43d4-b4eb-8327b4b78fa4/payload_index/OPTIONS-000011
qdrant_data/collections/test_collection/0/segments/693f6802-a479-4ee5-84b8-af2de41c6a31/000008.log
qdrant_data/collections/test_collection/0/segments/693f6802-a479-4ee5-84b8-af2de41c6a31/MANIFEST-000009
qdrant_data/collections/test_collection/0/segments/693f6802-a479-4ee5-84b8-af2de41c6a31/OPTIONS-000011
qdrant_data/collections/test_collection/0/segments/693f6802-a479-4ee5-84b8-af2de41c6a31/payload_index/000008.log
qdrant_data/collections/test_collection/0/segments/693f6802-a479-4ee5-84b8-af2de41c6a31/payload_index/MANIFEST-000009
qdrant_data/collections/test_collection/0/segments/693f6802-a479-4ee5-84b8-af2de41c6a31/payload_index/OPTIONS-000011
qdrant_data/collections/test_collection/0/segments/797d2bdc-dff9-493c-8ac3-435df301c34a/000008.log
qdrant_data/collections/test_collection/0/segments/797d2bdc-dff9-493c-8ac3-435df301c34a/MANIFEST-000009
qdrant_data/collections/test_collection/0/segments/797d2bdc-dff9-493c-8ac3-435df301c34a/OPTIONS-000011
qdrant_data/collections/test_collection/0/segments/797d2bdc-dff9-493c-8ac3-435df301c34a/payload_index/000008.log
qdrant_data/collections/test_collection/0/segments/797d2bdc-dff9-493c-8ac3-435df301c34a/payload_index/MANIFEST-000009
qdrant_data/collections/test_collection/0/segments/797d2bdc-dff9-493c-8ac3-435df301c34a/payload_index/OPTIONS-000011
qdrant_data/collections/test_collection/0/segments/bfb0c075-6439-4c42-bb72-ffefdb681c8d/000008.log
qdrant_data/collections/test_collection/0/segments/bfb0c075-6439-4c42-bb72-ffefdb681c8d/MANIFEST-000009
qdrant_data/collections/test_collection/0/segments/bfb0c075-6439-4c42-bb72-ffefdb681c8d/OPTIONS-000011
qdrant_data/collections/test_collection/0/segments/bfb0c075-6439-4c42-bb72-ffefdb681c8d/payload_index/000008.log
qdrant_data/collections/test_collection/0/segments/bfb0c075-6439-4c42-bb72-ffefdb681c8d/payload_index/MANIFEST-000009
qdrant_data/collections/test_collection/0/segments/bfb0c075-6439-4c42-bb72-ffefdb681c8d/payload_index/OPTIONS-000011
qdrant_data/collections/test_collection/0/segments/c20c9097-9ceb-4773-8df2-407b7c143fa8/000008.log
qdrant_data/collections/test_collection/0/segments/c20c9097-9ceb-4773-8df2-407b7c143fa8/MANIFEST-000009
qdrant_data/collections/test_collection/0/segments/c20c9097-9ceb-4773-8df2-407b7c143fa8/OPTIONS-000011
qdrant_data/collections/test_collection/0/segments/c20c9097-9ceb-4773-8df2-407b7c143fa8/payload_index/000008.log
qdrant_data/collections/test_collection/0/segments/c20c9097-9ceb-4773-8df2-407b7c143fa8/payload_index/MANIFEST-000009
qdrant_data/collections/test_collection/0/segments/c20c9097-9ceb-4773-8df2-407b7c143fa8/payload_index/OPTIONS-000011
.ko.yaml
.env
